/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     width: 100%;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
     align-items: center;
     
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
ul {
  list-style-type: disc;
  padding: 30px 70px 10px 70px;
}
li {
  padding: 5px 0px 5px 0px;
}
hr {
  width: 100%;
  border: none;
}

#relaxr { 
  padding: 25px;
  margin: 25px;
  text-align: left;
 }

header {
   width: 100%;
    margin: 0 auto;
     height: 500px;
       padding: 50px 100px 100px 100px;
       text-align: center;
       color: white;
}


 h2 {
  text-align: center;
 }

.button {
padding: 10px 25px 10px 25px;
margin: 100px 0px 100px 0px;
font-weight: bold;
font-size:; 
}
.container-2 {
 
  

}
#container-2 {
  width: 100%;
  margin: auto;
  height: 500px;
  background-color: #f0efef;
  padding: 100px 50px 100px 50px;

}

 }
.container-3 {
  width: 100%;
  margin: auto;
  height: 300px;
  padding: 100px 50px 100px 50px;
  }
}

#containter-3 {
  font-size: 18px;
  
}
q {
  text-align: center;
  font-size: 20px;
  content: close-quote;
  text-decoration: italic;
}


.section-button {
  width: 100%;
  margin: 0 auto;

}

#section-button 
{
  background-color: #f9e42e;
  text-align: center;
  align-content: center;
  height: 100px;
  padding: 30px 0px 30px 0px;


}

.section-end {
 text-align: center;
 color: #f9e42e;
 font-weight: bold;
 font-size: 24px;
 padding: 60px 0px 35px 0px;
}



#sociallinks {
  width: 100%;
  margin: 0 auto;
  height: 250px;
  text-align: center;
  padding: 40px 0px 35px 0px;


}
p {
  text-align: center;
  font-size: 18px;
}
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




